.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-center{
    justify-content: baseline;
}
.justify-between{
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-around{
    justify-content: space-around;
}